
body{
    background-color: white;
}

/* Styles for the results container 
#results {
    
} */

/* Styles for the unordered list */
ul {
    color: #1b1a1a;
    list-style-type: none; /* Removes the default bullet points */
    padding: 0;
}

/* Styles for each list item */
li {
    padding: 8px;
    margin: 5px 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Hover effect for list items */
li:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

#IT{
    color: black;
    font-family: 'League Spartan';
    text-align: center;
}

#search-section {
    display: flex;
    border: 2px solid #bf2026;
    border-radius: 25px;
    overflow: hidden;
}
#search-input {
    border: none;
    padding: 10px 20px;
    width: 100%;
    flex-grow: 1;
    outline: none;
    font-size: 16px;
    background-color: #bf2026;
    color: rgb(226, 226, 226);;
}
#search-button {
    background: #921a1e;
    border: none;
    color: rgb(226, 226, 226);;
    padding: 10px 45px;
    cursor: pointer;
    font-size: 16px;
}
::placeholder{
    color: rgb(226, 226, 226);
}
#search-button:hover {
    background-color: #510003;
}
